<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlantVsZombie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PlantVsZombie.Properties.Settings>
            <setting name="ColorDarkBrown" serializeAs="String">
                <value>106, 49, 22</value>
            </setting>
            <setting name="ColorPaper" serializeAs="String">
                <value>234, 234, 165</value>
            </setting>
            <setting name="ColorLightBrown" serializeAs="String">
                <value>147, 71, 30</value>
            </setting>
        </PlantVsZombie.Properties.Settings>
    </userSettings>
</configuration>